NAV_NAV_F11_1_9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:meta="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
        xmlns:tns="https://soap.api.nav.gov.hu/definitions/model/2.0/NAV_F11/1.9"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        targetNamespace="https://soap.api.nav.gov.hu/definitions/model/2.0/NAV_F11/1.9">
   <import namespace="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
           schemaLocation="form_xsd_metaschema.xsd"/>
   <element name="Doc_NAV_F11"
            type="tns:Doc_NAV_F11_Type"
            meta:metaType="DocMetaType">
      <annotation>
         <documentation>Sorszámtartomány iránti kérelem</documentation>
      </annotation>
   </element>
   <simpleType name="Enum_NAV_F11_0BXXXXB0001BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0002BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0003BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0004BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0005BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0006BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0007BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0008BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0009BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0010BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0011BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0012BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0013BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0014BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0015BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0016BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0017BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0018BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0019BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0020BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0021BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0022BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0023BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0024BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0025BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0026BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0027BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0028BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0029BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0030BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0031BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0032BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F11_0BXXXXB0033BA">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AKO"/>
      </restriction>
   </simpleType>
   <complexType name="Doc_NAV_F11_Type">
      <annotation>
         <documentation>A teljes bizonylat szerkezetet leíró típus</documentation>
      </annotation>
      <sequence>
         <element name="Form_NAV_F11"
                  type="tns:Form_NAV_F11_Type"
                  minOccurs="1"
                  maxOccurs="1"
                  meta:metaType="FormMetaType">
            <annotation>
               <documentation>NAV_F11 részbizonylat</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Form_NAV_F11_Type">
      <annotation>
         <documentation>A teljes nyomtatvány NAV_F11 részbiztonylatának szerkezetét leíró típus.</documentation>
      </annotation>
      <sequence>
         <element name="Block_120001"
                  type="tns:Block_NAV_F11_120001_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Azonosítás</documentation>
            </annotation>
         </element>
         <element name="Block_120024"
                  type="tns:Block_NAV_F11_120024_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Bejelentés azonosítása</documentation>
            </annotation>
         </element>
         <element name="Block_120027"
                  type="tns:Block_NAV_F11_120027_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Felhasználási időszak</documentation>
            </annotation>
         </element>
         <element name="Block_120029"
                  type="tns:Block_NAV_F11_120029_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Hitelesítés</documentation>
            </annotation>
         </element>
         <element name="Block_120014"
                  type="tns:Block_NAV_F11_120014_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Felhasználás helye, valamint az ott használni kívánt bizonylatok mennyisége</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Block_NAV_F11_120001_Type">
      <annotation>
         <documentation>Azonosítás</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120003"
                  type="tns:FieldGroup_NAV_F11_120003_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Azonosítás</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Block_NAV_F11_120024_Type">
      <annotation>
         <documentation>Bejelentés azonosítása</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120025"
                  type="tns:FieldGroup_NAV_F11_120025_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Bejelentés azonosítása</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Block_NAV_F11_120027_Type">
      <annotation>
         <documentation>Felhasználási időszak</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120028"
                  type="tns:FieldGroup_NAV_F11_120028_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Felhasználási időszak</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Block_NAV_F11_120029_Type">
      <annotation>
         <documentation>Hitelesítés</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120030"
                  type="tns:FieldGroup_NAV_F11_120030_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Hitelesítésre vonatkozó adatok</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Block_NAV_F11_120014_Type">
      <annotation>
         <documentation>Felhasználás helye, valamint az ott használni kívánt bizonylatok mennyisége</documentation>
      </annotation>
      <all>
         <element name="Chain_120018"
                  type="tns:Chain_NAV_F11_120018_Type"
                  minOccurs="0"
                  meta:metaType="ChainMetaType">
            <annotation>
               <documentation>Felhasználás helye, valamint az ott használni kívánt bizonylatok mennyisége</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="Chain_NAV_F11_120018_Type">
      <annotation>
         <documentation>Felhasználás helye, valamint az ott használni kívánt bizonylatok mennyisége</documentation>
      </annotation>
      <sequence>
         <element name="Chain_elem" minOccurs="0" maxOccurs="99">
            <annotation>
               <documentation>Lánc ismétlődő elemei</documentation>
            </annotation>
            <complexType>
               <sequence>
                  <element name="FieldGroup_120019"
                           type="tns:FieldGroup_NAV_F11_120019_Type"
                           minOccurs="1"
                           meta:metaType="FieldGroupMetaType">
                     <annotation>
                        <documentation>Felhasználás helye, valamint az ott használni kívánt bizonylatok mennyisége</documentation>
                     </annotation>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <complexType name="FieldGroup_NAV_F11_120003_Type">
      <annotation>
         <documentation>Azonosítás</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001C0001KA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adószáma (ADOIG)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C0001EA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Engedélyszáma: (ENGSZ)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="8"/>
                  <pattern value="[A-Z0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C0001CA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Neve (NEV)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="70"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C0001FA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Székhely címe: (IRSZ)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="4"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C0001GA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Város, község (VAROS)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="30"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C0001HA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Pf., út, utca (UTCA)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="41"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C0001IA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>hsz. (HSZ)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C0001JA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>emelet, ajtó (EM)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C0001MA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Telefonszáma: (TEL)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_NAV_F11_120025_Type">
      <annotation>
         <documentation>Bejelentés azonosítása</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001D0001AA"
                  minOccurs="0"
                  type="xs:boolean"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Pótlólagos igénylés: (POTIGENY)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001D001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Hivatkozott ügyszám: (kapcsiktsz)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_NAV_F11_120028_Type">
      <annotation>
         <documentation>Felhasználási időszak</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001E0001RA"
                  minOccurs="0"
                  type="xs:date"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Felhasználási időszak: (BTOL)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001E0001SA"
                  minOccurs="0"
                  type="xs:date"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>(BIG)</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_NAV_F11_120030_Type">
      <annotation>
         <documentation>Hitelesítésre vonatkozó adatok</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001F002A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Bejelentő azonosító (BEJAZON)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_NAV_F11_120019_Type">
      <annotation>
         <documentation>Felhasználás helye, valamint az ott használni kívánt bizonylatok mennyisége</documentation>
      </annotation>
      <all>
         <element name="Field_0BXXXXB004A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Lapszám: (LAP2)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="2"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0BXXXXB0001FA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Sorszám (SORSZ01)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="2"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0BXXXXB0001AA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Telephely/koncesszori fémkereskedelmi#telephely engedélyének száma (TENGSZ01)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="13"/>
                  <pattern value="[A-Z0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0BXXXXB0001BA"
                  minOccurs="0"
                  type="tns:Enum_NAV_F11_0BXXXXB0001BA"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Okmány típus (OKTIP01)</documentation>
            </annotation>
         </element>
         <element name="Field_0BXXXXB0001CA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Megnevezés (MEGNEV01)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="50"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0BXXXXB0001DA"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Mennyiség#(db) (MENNY01)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
</schema>
